html 
{
    scroll-behavior: smooth;
    text-decoration: none;
}

body
{
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

/*
.navbar {
    background: rgba(0, 0, 0, 0.8);
  }*/

.home
{
    font-weight: bold;
    font-size: large;
}

.navbar
{
    background-color: #005acd;
}
.navbar li :hover {
    color: #bef0ff;
  }

/* Styles for all IDs starting with "section" */
[id^="section"] 
{
    text-align: center;
    align-items: center;
    border: solid 2px white; 
    color: black;
}

.section-box {
    background: #ffffff; /* Box background */
    border: 2px solid #0093cb; /* Visible border */
    border-radius: 12px; /* Rounded edges */
    padding: 30px; /* Internal spacing */
    margin: 0px auto; /* Space between sections */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Shadow for depth */
}

#section1 img
{
    max-width: 250px;
    border-radius: 10px;
    border: 2px solid #0093cb;
}
#section1 img:hover
{
    transform: translateY(-10px);

}
.summary-p:hover
{
    transform: translateY(-10px);

}

.summary-p
{
    width: 50%;
    height: 50%;
    max-width: 500px;
    border: 1px solid #0093cb;
    border-radius: 10px;
    padding: 10px;
}

.centered
{
    display: flex;         
    justify-content: center;     
    align-items: center;
}

#section3
{
    display: flex;         
    justify-content: center;     
    align-items: center;
    flex-direction: column;
}
#section3 .modal-content
{
    color: black;
}

.carousel
{
    width: 60% !important;
}

.carousel-item button
{
    color: white;
}

.carousel img{
    object-fit: cover;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  /*
  .card:hover {
    transform: translateY(-10px);
  }*/
  .card button
  {
    background-color: #005acd;
  }

#submitBtn {
    background-color: #005acd;
  }
  #submitBtn:hover{
    transform: scale(1.05);
  }

.tab-content .tab-pane{
    padding-top: 15px;
    border-top: none !important;
    border: solid 1px lightgrey;   
}

.tab-content-item {
    display: flex;                /* Enables Flexbox */
    align-items: flex-start;      /* Aligns items at the top */
    gap: 20px;   
    padding-left: 10px;
    padding-right: 10px;                 /* Space between image and text */
  }
  .tab-content-item img {
    width: 250px;             /* Limit image size */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }



.progress-container {
    margin-bottom: 20px; /* Space between rows */
  }
.progress{
    color: #005acd;
}
.progress:hover
{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


 /* Container for the images */
 .frameworks-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    gap: 30px; /* Gap between images */
    margin: 20px;
  }

  /* Style for each image */
  .frameworks-container img {
    width: 100px; /* Make images responsive within the grid cell */
    height: 100px;
    object-fit:scale-down; /* Ensure images cover the container area */
    transition: transform 0.5s ease-in-out;
  }
  .frameworks-container img:hover {
    transform: rotate(360deg);
  }

form
{
    color: black;
}

.my-info p
{
    padding-top: 40px;
}

.icon-row i
{
    padding-left: 10px;
    padding-right: 10px;
}

/* Removing arrows from input box */
/* Chrome, Safari, Edge, Opera */
#section7 input::-webkit-outer-spin-button,
#section7 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#section7 input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.icon-row i
{
    color: #005acd;
}